.heroSection {
  width: 100%;
  margin-top: 0;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    -webkit-image-set(url("/Picture@1x.png") 1x, url("/Picture@2x.png") 2x);
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    image-set(url("/Picture@1x.png") 1x, url("/Picture@2x.png") 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.title {
  margin-top: 436px;
  margin-bottom: 16px;
  color: var(--white, #fff);
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.subtitle {
  margin-bottom: 40px;
  color: var(--white, #fff);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
}

.linkBtn {
  display: block;

  width: 276px;
  padding: 12px 19px;
  margin-bottom: 72px;
  border-radius: 12px;
  color: var(--white, #fff);
  background: var(--button, #3470ff);
  transition: var(--main-color-transition);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
}
.linkBtn:hover {
  color: var(--button-hover, #0b44cd);
}
