.form {
  display: flex;
  width: 640px;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 10px;
  border: 1px solid #dadde1;
  background: var(--white, #fff);
}

.formTitle {
  color: var(--main, #101828);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  align-self: flex-start;
}

.formSubtitle {
  color: var(--gray, #8d929a);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  align-self: stretch;
}

.input,
.textarea {
  width: 576px;
  padding: 16px 20px;
  border: none;
  outline: none;
  border-radius: 12px;
  background: var(--inputs, #f7f7f7);
  font-size: 16px;
  line-height: 24px;
  color: var(--gray, #8d929a);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}
.input {
  height: 48px;
}

.textarea {
  resize: vertical;
  min-height: 96px;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--gray, #8d929a);

  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25ж;
}

.error {
  color: red;
  font-size: 14px;
  align-self: flex-start;
  margin-top: -16px;
  margin-bottom: -8px;
}

.button {
  display: flex;
  width: 156px;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 12px;
  background: var(--button, #3470ff);
  color: var(--white, white);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: var(--main-background-transition);
}

.button:hover,
.button:focus {
  background: var(--button-hover, #2559d0);
}

/* Styles for datepicker */
/* Контейнер календаря */
.react-datepicker {
  border-radius: 12px;
  border: 1px solid #3470ff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: #101828;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

/* Шапка календаря з назвою місяця */
.react-datepicker__current-month {
  color: #101828;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

/* Назви днів тижня */
.react-datepicker__day-name {
  color: #7b8e98;
  font-weight: 400;
  font-size: 14px;
}

/* Дні календаря */
.react-datepicker__day {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: #101828;
  line-height: 120%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  border-radius: 50%;
  cursor: pointer;
}

.react-datepicker__day--today {
  background-color: #3470ff;
  color: #f7f7f7;
  border-radius: 32px;
}

/* Виділений день */
.react-datepicker__day--selected {
  background-color: #3470ff;
  color: #f7f7f7;
}

/* Hover */
.react-datepicker__day:hover {
  background-color: #e0efff;
}

/* Disabled */
.react-datepicker__day--disabled {
  color: #c4c4c4;
  cursor: not-allowed;
}

/* Стрілки навігації */
.react-datepicker__navigation {
  top: 12px;
}

.react-datepicker__navigation-icon::before {
  border-color: #3470ff;
}
