.carCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  width: 276px;
  height: 424px;
}

.carCardImageContainer {
  position: relative;
  margin-bottom: 16px;
}

.carCardImage {
  width: 276px;
  height: 268px;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 14px;
  background: linear-gradient(
    180deg,
    rgba(18, 20, 23, 0.5) 2.5%,
    rgba(18, 20, 23, 0) 41.07%
  );
}

.favoriteButton {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* .heartIcon {
  fill: none;
  stroke: var(--badges, #f2f4f7);
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.heartIconActive {
  fill: var(--button, #3470ff);
  stroke: var(--button, #3470ff);
} */

.carCardHeader {
  padding-right: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2px;
}

.carCardTitle {
  color: var(--main, #101828);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}

.carCardModel {
  color: var(--button, #3470ff);
}

.carCardPrice {
  display: block;
}
.carCardDetailsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-bottom: 16px;
}
.carCardDetails {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 6px;
  color: var(--gray, #8d929a);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

.carCardDivider {
  font-size: 16px;
  color: var(--gray-light, #dadde1);
}

.carCardButton {
  display: flex;
  width: 276px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0px;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-radius: 12px;
  background-color: var(--button, #3470ff);
  transition: var(--main-background-transition);
  color: var(--white, #fff);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
}
.carCardButton:hover {
  background-color: var(--button-hover, #0b44cd);
}
